
@font-face {
    font-family: Avenir;
       src: url('/fonts/avenir-lt-std-cufonfonts/AvenirLTStd-Book.otf');
      
      font-style: normal;
    }

body {
    background: #F7F9FC;
    font-family: 'lato', sans-serif;
}

.preload {
    border: 1.2px solid #1abc9c;
    width: 50%;
}

header nav li {
    margin: 0 10px;
}

header nav li a {
    text-decoration: none;
    color: #333333;
    font-family: "Avenir", sans-serif;
    font-weight: bold;
}

header nav li a:hover {
    border-bottom: 2px solid #1abc9c;
    padding-bottom: 5px;
}

.logo img {
    width: 294px;
    margin-bottom: 5%;
    margin-top: 5%;
}

.post {
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 50px;
}

.post .content-post {
    position: relative;
    padding: 65px 100px;
}

.evento {
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 50px;
}

.evento .content-evento {
    position: relative;
    padding: 5px 10px;
}

.post .category {
    background: #1abc9c;
    padding: 5px 10px;
    color: white;
    position: absolute;
    right: -11px;
    top: -20px;
    text-transform: capitalize;
}

.post figure {
    margin: 0;
}

.post h1 {
    font-size: 40px;
}

.post h2 {
    font-weight: normal;
    font-style: italic;
}

.post p {
    line-height: 1.6;
}

.post a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.post .tag {
    margin: 0 5px;
}

.post footer {
    margin-top: 45px;
    background: none;
}

.masonry {
    column-count: 2;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-gap: 4px;
    -moz-column-gap: 4px;
    -webkit-column-gap: 4px;
}

.masonry .gallery-image {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    padding: 4px;
    border: 1px solid #000;
}

cite,
.cite {
    font-size: 22px;
    line-height: 1;
    display: block;
    margin-top: 10px;
    color: #909090;
}

cite span,
.cite span {
    color: #7f7f7f;
    font-size: 16px;
}

cite .img-cite,
.cite .img-cite {
    position: absolute;
    left: -20px;
}

.image-w-text div {
    max-width: 720px;
}

.image-w-text span.cite-2,
span.cite-2 {
    color: #999999;
    padding-left: 15px;
    border-left: 4px solid #eeeeee;
    display: block;
    line-height: 1.7;
    font-size: 19px;
}

.pagination ul li {
    margin: 0 5px;
}

.pagination ul li a {
    display: block;
    background: #ffffff;
    box-shadow: 0 0 1px rgba(0, 0, 0, .4);
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
}

.footer footer {
    background: #1abc9c;
    padding: 45px;
    text-align: center;
    color: #ffffff;
}

.footer footer .logo {
    opacity: 0.4;
}

.footer footer p {
    opacity: 0.4;
}

.footer footer nav ul {
    margin-top: 45px;
}

.footer footer .divider-2 {
    margin: 45px auto;
    width: 90%;
}

.footer footer nav ul li {
    margin: 0 10px;
}

.footer footer nav ul li a {
    color: white;
    text-decoration: none;
}

.footer footer .social-media-footer li a {
    display: block;
    width: 25px;
    height: 25px;
}

a.btn-bar {
    background: url('../img/nav-icon.png') no-repeat;
}

.grid-item {
    width: 464px;
    height: 120px;
    float: left;
}

.grid-item--height2 {
    height: 260px;
}

.grid-item--height3 {
    height: 328px;
}

.grid-item--height4 {
    height: 308px;
}

.grid-item--height5 {
    height: 240px;
}

.page {
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 50px;
    position: relative;
    padding: 65px 100px;
}

.page p,
.page cite {
    line-height: 1.6;
}

.page h3 {
    color: #b2b2b2;
    font-size: 22px;
    letter-spacing: 1px;
    font-weight: 300;
}

.page .latest-posts {
    max-width: 350px;
}

.page ul li {
    margin: 15px 0;
}

.page-contact .input-container input {
    font-family: "Avenir", sans-serif;
    background: #F7F9FC;
    border: 0;
    width: 100%;
    height: 35px;
    max-width: 310px;
    padding: 7px 0 5px 15px;
    display: block;
    margin: 10px 0;
}

.page-contact .input-container .input-subject {
    margin: 20px 0;
    max-width: 98%;
}

.page-contact .input-container textarea {
    width: 98%;
    border: 0;
    background: #F7F9FC;
    resize: vertical;
    padding: 25px 0 0 15px;
}

.page-contact .form-contact .send-message a {
    display: block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 25px;
    font-size: 19px;
}

.custom-wrapper {
    margin-bottom: 1em;
    -webkit-font-smoothing: antialiased;
    height: 3em;
    overflow: hidden;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    -ms-transition: height 0.5s;
    transition: height 0.5s;
}

.custom-wrapper ul li a {
    display: block;
    text-align: center;
}

.custom-wrapper.open {
    height: 9em;
}

.custom-menu-3 {
    text-align: right;
}

.custom-toggle {
    width: 34px;
    height: 34px;
    display: block;
    position: absolute;
    top: 60px;
    right: 20px;
    display: none;
}

.custom-toggle .bar {
    background-color: #1abc9c;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 100px;
    position: absolute;
    top: 18px;
    right: 7px;
}

/*  Servicios*/
.carouselloco {
    perspective: 800px;
    margin: 0;
    overflow: hidden;
    height: auto;
    white-space: nowrap;
}
.pane {
    --x: 0px;
    --selected: 0;
    --w: 200px;
    --h: 200px;
    --d: calc(var(--w) * 0.15);
    --r: 0deg;
    display: inline-block;
    transform: translate(50vw, 50vh);
}
.pane .face {
    font-size: calc(var(--h) * 0.75);
    line-height: var(--h);
    text-align: center;
    color: #e6e6e6;
    font-family: sans-serif;
    width: var(--w);
    background: #3d3d3d;
    transform-origin: center;
    transform: translate3D(calc(var(--w) * -0.5 - var(--x) * var(--w)), calc(var(--h) * -0.5), calc(-100px * var(--selected))) rotateY(var(--r));
    transition: 250ms transform;
}
.pane .face, .pane .face:before, .pane .face:after {
    height: var(--h);
    content: '';
    display: block;
    backface-visibility: hidden;
    outline: 1px solid transparent;
    border: 2px solid black;
}
.pane .face:before, .pane .face:after {
    width: var(--d);
    background: #292929;
    position: absolute;
    top: 0;
}
.pane .face:before {
    transform-origin: left;
    transform: rotateY(-90deg) translateX(calc(-1 * var(--d)));
    left: 0;
}
.pane .face:after {
    transform-origin: right;
    transform: rotateY(90deg) translateX(calc(var(--d)));
    right: 0;
}

@media (max-width: 400px) {
#Servicioslistas{
    display: none;
}
}
.TituloEspeclidad h4{
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: #003594;
    line-height: 80px;
    text-align: left;
    font-size: 24px;
    font-weight: 600;
    color: #FFFFFF;
    padding-left: 2%;
}

#rescontenido{
    margin: 3%;
}

#rescontenido  h1{
    font-family: Avenir;
    font-size: 31px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #1c2533;
    padding-top: 2%;
    display: none;
}

#rescontenido p{
    font-family: Avenir;
    font-size: 20.8px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #1c2533;
  }


#rescontenido strong{
    font-family: Avenir;
    font-size: 25.3px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #1c2533;
}


.caja-aseguradoras{
    padding: 1.475em 0;
}

.margen-lateral{
    padding-right: 1.875em;
    padding-left: 1.875em;
}
.margen-lateral img {
    width: 100%;
    height: 146px;
}
.more-info {
    float: right;
    margin-top: 3%;
}
.more-info .txt{
max-width: 87%;
    padding: .35em 0;
    font-size: .875rem;
    color: #006290;
    text-transform: uppercase;
    text-align: right;
}

.more-info img{
   width: 20px;
   height: 20px;
}


.icon-button {
    position: relative;
    display: inline-block;
    width: 56px;
    height: 56px;
  }
  
  .icon-button > core-icon {
    margin: 16px;
    transition: -webkit-transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .icon-button:hover > core-icon {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  
  .icon-button > paper-ripple {
    overflow: hidden;
    color: #646464;
  }

  .icon-button.blue > core-icon::shadow path {
    fill: #4285f4;
  }
  
  .icon-button.blue > paper-ripple {
    color: #4285f4;
  }

/*
  .wrapper {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .slider{
  width: 100%;
  height: 300px;
  position: relative;
  display: flex;
  overflow: hidden;
    }
  
  .slide {
    height: 250px;
    display: flex;
    align-items: center;
    animation: slideshow 20s linear infinite;
  }
  .slide img {
    height: 250px;
    float: left;
}
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content-all{
    width: 210px;
    margin: auto;
    perspective: 800px;
    position: relative;
    margin-top: 50px;
}

.content-carrousel{
    width: 100%;
    position: absolute;
    animation: rotar 10s infinite linear;
    transform-style: preserve-3d;
}

.content-carrousel:hover{
    animation-play-state: paused;
    cursor: pointer;
}

.content-carrousel figure{
    width: 100%;
    height: 120px;
    overflow: hidden;
    position: absolute;
    /*box-shadow: 0px 0px 20px 0px rgb(122, 122, 122);*/
    transition: all 300ms;
}

.content-carrousel figure:hover{
    /*box-shadow: 0px 0px 0px 0px rgb(122, 122, 122);*/
    transition: all 300ms;
}

.content-carrousel figure:nth-child(1){transform: rotateY(0deg)
translateZ(300px);}
.content-carrousel figure:nth-child(2){transform: rotateY(40deg)
translateZ(300px);}
.content-carrousel figure:nth-child(3){transform: rotateY(80deg)
translateZ(300px);}
.content-carrousel figure:nth-child(4){transform: rotateY(120deg)
translateZ(300px);}
.content-carrousel figure:nth-child(5){transform: rotateY(160deg)
translateZ(300px);}
.content-carrousel figure:nth-child(6){transform: rotateY(200deg)
translateZ(300px);}
.content-carrousel figure:nth-child(7){transform: rotateY(240deg)
translateZ(300px);}
.content-carrousel figure:nth-child(8){transform: rotateY(280deg)
translateZ(300px);}
.content-carrousel figure:nth-child(9){transform: rotateY(320deg)
translateZ(300px);}
.content-carrousel figure:nth-child(10){transform: rotateY(360deg)
translateZ(300px);}

.content-carrousel img{
    width: 100%;
    transition: all 300ms;
}

.content-carrousel img:hover{
    /*transform: scale(1.5);*/
    transition: all 300ms;
}

@keyframes rotar{
    from{
        transform: rotateY(0deg);
    }to{
        transform: rotateY(360deg);
    }
}

/* https://www.lawebdelprogramador.com/codigo/CSS/2275-Efecto-de-zoom-en-una-imagen-y-texto-con-CSS3.html */
.zoom{
    transition: width 2s, height 2s, transform 2s;
    -moz-transition: width 2s, height 2s, -moz-transform 2s;
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
    -o-transition: width 2s, height 2s,-o-transform 2s;
}

.zoom:hover{
    /* tranformamos el elemento al pasar el mouse por encima al doble de
       su tamaño con scale(2). */
    transform : scale(1.5);
    -moz-transform : scale(1.5);      /* Firefox */
    -webkit-transform : scale(1.5);   /* Chrome - Safari */
    -o-transform : scale(1.5);        /* Opera */
}

  @keyframes slideshow {
    0% {transform: translateX(0);}
    100% {transform: translateX(-100%);}
  }
  .slider::before, .slider::after {
    height: 100px;
    width: 200px;
    position: absolute;
    content: "";
    z-index: 2;
  }
  .slider::before {
    left: 0;
    top: 0;
  }
  .slider::after {
    right:0;
    top:0;
    transform: rotateZ(180deg);
  }

  /* renta de consultorios*/
  
  .carousel-inner img{

    width: 100%;
    height: 650px;
    border-style: none;
    max-width: 100%;

  }

  .col-sm-0 {
    width: 2px;
    height: 50px;
    background-color: #002554;
    }

    .col-sm-3{
        width: 100px;
        top: 15px;
        height: 5px;
        font-family: Avenir;
        font-size: 20.8px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #525252;
    }
    .links{
        width: 133.8px;
        height: 60px;
        font-family: Avenir;
        font-size: 18.8px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #525252;
    }

    .titulo1{
        width: 238.5px;
        height: 29.5px;
        font-family: Avenir;
        font-size: 37.5px;
        font-weight: 900;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #525252;
    }

    .consultorio1{
        width: 1279px;
        height: 3.5px;
        background-color: #002554;
    }

    .precios{
        width: 254px;
        height: 29px;
        font-family: Avenir;
        font-size: 31.2px;
        font-weight: 900;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #1c2533;
    }

    .descrip{
        width: 181.5px;
        height: 37.5px;
        font-family: Avenir;
        font-size: 31.3px;
        font-weight: 900;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.2;
        letter-spacing: normal;
        color: #1c2533;
    }

    .parrafo{
        color: #1c2533;
    }
    
    .parrafo2{
        width: 274.5px;
        height: 19px;
        font-family: Avenir;
        font-size: 20.8px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #1c2533;
    }

    .parrafo3{
        font-weight: 900;
    }

    .carousel-control-prev, .carousel-control-next{
        width: 80px;
        height: 600px;
        opacity: 0.6;
        background-color: #003594;
    }

    .iconos{
        width: 45px;
        height: 52px;
        background-color: rgba(0, 0, 0, 0);
        background-color: #d2d2d2;
        border-radius:150px;
    }